<% include ./partials/header %>


    <h2 class="menuCarnes_menuTitle"><%= dbHolder.submenu[0][0] %></h2>
    <div class="menuCarnes_menucontainer">
            <% for (let i = 1; i <  dbHolder.submenu[0].length; i++) { %>
                    <div class="menuCarnes_itemcontainer">
                            <div>
                                <img src= "<%= dbHolder.submenu[0][i].image_url %>" alt="carnes">
                            </div>
                            <div>
                                <p id="title"><%= dbHolder.submenu[0][i].title %></p>
                                <p id="price"><%= dbHolder.submenu[0][i].price %></p>
                                <P id="description"><%= dbHolder.submenu[0][i].description %></P>
                            </div>
                            <div>
                                <a class="btn-floating waves-effect waves-light cyan">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                    </div>
            <% } %>
    </div>

                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];

                        if (d.getElementById(id)) {
                            return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'Messenger'));

                    window.extAsyncInit = function () {
                        // the Messenger Extensions JS SDK is done loading 
                    };
                </script>

                <% include ./partials/footer %>